on boot
    chown system system /sys/class/qcom-battery/sport_mode

service vendor.fastcharge-hal-1-0 /vendor/bin/hw/vendor.lineage.fastcharge@1.0-service.odin
    class hal
    user system
    group system
    disabled

on property:sys.boot_completed=1
    start vendor.fastcharge-hal-1-0
