on boot
    chown system system /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/fod_ui
    chown system system /sys/devices/virtual/touch/tp_dev/fod_status

service vendor.fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.odin
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
